

/*  Estilo de componentes */
@import "../components/mainWindow/MainWindow.css";
@import "../components/mainWindow/subComponents/Products.css";


body {
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(230, 230, 250, 0.4);

}